$use-fadeInDownBig: true;
@import "../bower_components/animate-sass/_animate.scss";

.index {
  position: relative;
  width: 100%;
  height: 100%;
  display: table;

  &__billboard {
    @extend .animated;
    @extend .fadeInDownBig;
    padding: ($padding-large-vertical * 6) $padding-large-horizontal;
    text-align: center;
    color: $gray;

    h1 {
      color: $brand-danger;

      span {
        color: white;
        text-shadow:
           1px  1px $brand-danger,
           1px  0   $brand-danger,
           1px -1px $brand-danger,
           0   -1px $brand-danger,
          -1px -1px $brand-danger,
          -1px  0   $brand-danger,
          -1px  1px $brand-danger,
           0    1px $brand-danger;

        &:not(*:root) {
          text-shadow: none;
          -webkit-text-stroke: 1px $brand-danger;
        }
      }
    }

    p {
      animation-delay: 1s;
      font-weight: 200;
      font-size: ($font-size-base * 1.4);
    }

    a {
      color: $brand-danger;
      text-decoration: underline;
    }

    @media screen and (min-width: $screen-sm-min) {
      display: table-cell;
      vertical-align: middle;

      h1  {
        font-size: ($font-size-base * 6);
      }

      p {
        font-size: ($font-size-base * 2);
      }
    }
  }
}
