.post {
    background: white;
    padding: 5px;
    border-radius: 2px;
    margin: 10px;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.2);
}

.posts_list, .post_details {
    display: inline-block;
    vertical-align: top;
}

.posts_list {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 50%;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
}

.post_details {
  position: absolute;
  top: 0; bottom: 0; left: 50%; right: 0;
  opacity: 1;
  background: white;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
  transition: all 0.4s ease-out;
  -webkit-transition: all 0.4s ease-out;
  padding: 10px 30px;
}

.posts_list .list-group {
  display: block;
  max-width: 800px;
  margin: auto;
}
/*
.posts.detail_tab .posts_list {
  right: 50%;
}

.posts.detail_tab .post_details {
  left: 50%;
  opacity: 1;
}*/

.post_details.editing div.edit {
    display: block;
}

.post_details.editing div.preview {
    display: none;
}

div.edit {
  display: none;
  position: relative;
  h1, div {
    &:focus {
      background: #EEEEFB;
      color: black;
    }
    border: 1px solid #C4C4ED;
    box-shadow: 0 0 5px rgba(0,0,0,0.2) inset;
    color: rgba(0,0,0,0.5);    
  }
}

button.align-right {
  position: absolute;
  right: 0;
}
/*
div.edit h1, div.edit div {
  &:focus {
    background: #EEEEFB;
    color: black;
  }
  border: 1px solid #C4C4ED;
  box-shadow: 0 0 5px rgba(0,0,0,0.2) inset;
  color: rgba(0,0,0,0.5);
}*/

/*div.edit h1:focus, div.edit div:focus {
  background: #EEEEFB;
  color: black;
}*/